<p><h1>
  Cadastro Jurídico
</h1>
<br><br>
<div class='formJuridico'>
  <p>
    Razao Social: <input type="text" [(ngModel)]="juridico.razaoSocial"/>
  </p>
  <p>
    CNPJ: <input type='number' [(ngModel)]="juridico.cnpj"/>
  </p>
  <p>
    email: <input type='email' [(ngModel)]="juridico.email"/>
  </p>
  <p>
    senha: <input type='password' [(ngModel)]="juridico.senha"/>
  </p>
  <p>
    confirmar senha: <input type='password' [(ngModel)]="confirmaSenha"/>
  </p>

  <button (click)="submit()" class="btnSubmit">Enviar Dados</button>
  <button (click)="clear()" class="btnClear">Apagar campos</button>
</div>
